body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
  }
  input {
    margin-bottom: 5px;
    padding: 5px;
    width: 200px;
  }

  button {
    padding: 5px 10px;
    color: rgb(67, 67, 67);
    border: none;
    cursor: pointer;
    border: 1px solid  #a9a9a9;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  button:hover {
    background-color: #666666;
    color: rgb(205, 205, 205);
  }